# old ones
alias cato="/usr/bin/cat"
alias lso="/usr/bin/ls"
alias vimo="/usr/bin/vim"
alias grepo="/usr/bin/grep"

# new ones
alias ls="exa"
alias grep="rg"
alias cat="bat"
alias rm="trash"
alias myip="curl icanhazip.com"
alias browser="brave-browser"
alias count='find . -type f | wc -l'
alias vim='nvim'
alias tmux='TERM=screen-256color tmux'
alias py="python3"
alias nv="neovide"
alias hashcat="hashcat.bin"
