.linux {
  font-family: Hasklig, monospace !important;
  font-weight: 500;
}

.decorationsOverviewRuler {
  width: 0 !important;
}
/*
[class^="mtk"].mtki {
  font-feature-settings: "ss01";
  font-family: "Cartograph CF";
}
*/
