.linux {
  font-family: "Input Mono", monospace !important;
}

.decorationsOverviewRuler {
  width: 0 !important;
}
/*
[class^="mtk"].mtki {
  font-feature-settings: "ss01";
  font-family: "Cartograph CF";
}
*/
